.pagination-container {
  height: 50px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .pagination-container {
    width: 500px;
  }
  .pagination {
    display: flex;
    justify-content: center;
  }
}

.pagination-btn {
  width: 80px;
  background-color: #0496ff;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  color: #ffffff;
}

.pagination-btn:disabled {
  cursor: not-allowed;
  background-color: rgba(4, 150, 255, 0.5);
}

.current-page {
  margin: 0 15px;
  font-size: 18px;
  font-weight: bold;
}
