.error-container {
  display: grid;
  place-items: center;
  height: 100vh;
}

@media screen and (max-width: 767px) {
  .error-container {
    height: calc(100vh - 150px);
    overflow-y: auto;
  }
}
