.card-container {
  width: 250px;
  min-height: 370px;
  background-color: #ffffff;
  list-style-type: none;
  border-radius: 15px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: scale 0.5s ease-in-out;
  box-shadow: 10px 5px 10px 5px #e5e5e5;
}

.card-container:hover {
  scale: 1.1;
}

.card-img {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  height: 200px;
  width: 250px;
}

.card-section {
  text-align: center;
  flex-grow: 1;
  align-content: center;
}

.card-section > p {
  font-family: monospace;
  color: black;
}

.title {
  font-weight: 600;
  font-size: 18px;
  padding: 5px;
}

.view-details-btn {
  padding: 5px;
  background-color: #0496ff;
  color: #ffffff;
  border-radius: 5px;
  border: 1px solid #0496ff;
  cursor: pointer;
}
